html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
* {
  font-family: "Roboto";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
header {
  background: #2c2c2c;
  height: 240px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1050px;
}

.header-box {
  display: flex;
  justify-content: center;
}
.full-name {
  align-self: center;
  width: 196px;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 3px;
}
.resume-titles-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.resume-title {
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.full-name,
.job-title {
  font-family: "Aleo";
  color: #2ec7cc;
}
.job-title {
  letter-spacing: 4.7px;
}

.photo-box {
  height: 240px;
}
.photo-box img {
  max-width: 100%;
  max-height: 100%;
}

/* ///////////////////////////////////// */
main {
  flex-grow: 1;
  background: #dfe3f0;
  z-index: 1;
}
.resume-body {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
/* /////////////////////////////////// */
.body__column1 {
  line-height: 1.5;
  position: relative;
  margin-top: 10px;
  font-size: 18px;
  display: flex;
}
.body__column1::after {
  content: "";
  position: absolute;
  left: 15%;
  bottom: -20px;
  height: 2px;
  width: 70%;
  background: #717173;
}
.contacts,
.address,
.languages {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contacts {
  flex: 0 0 30%;
  padding: 0 5px;
}
.contacts__title,
.address__title,
.language__title {
  text-align: center;
}
.contacts__tel,
.contacts__mail {
  position: relative;
}

.contacts__tel::before {
  content: "";
  background: url("./images/tel.PNG") 0 0 / 100% 100% no-repeat;
  height: 21px;
  width: 23px;
  position: absolute;
  top: 0;
  left: -25px;
}
.contacts__mail::before {
  content: "";
  background: url("./images/mail.PNG") 0 0 / 100% 100% no-repeat;
  height: 21px;
  width: 23px;
  position: absolute;
  top: 2px;
  left: -25px;
}

.address {
  margin-left: 40px;
  padding: 0 5px;
  flex: 0 0 30%;
  min-width: 189px;
}
.address::before {
  content: "";
  position: absolute;
  left: -40px;
  height: 100%;
  width: 2px;
  background: #717173;
}
.address::after {
  content: "";
  position: absolute;
  right: 0px;
  height: 100%;
  width: 2px;
  background: #717173;
}
.address__content {
  position: relative;
}
.address__content::before {
  content: "";
  background: url("./images/address.PNG") 0 0 / 100% 100% no-repeat;
  height: 31px;
  width: 23px;
  position: absolute;
  top: 0;
  left: -33px;
}
.languages {
  padding: 0 5px;
  flex: 0 0 40%;
}
.language__content {
  padding-left: 15px;
}

/* ////////////////////////// */
.body__column2 {
  position: relative;
  margin-top: 40px;
  font-size: 18px;
  display: flex;
}
.body__column2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -40px;
  height: 2px;
  width: 95%;
  background: #717173;
}
.stacks,
.info,
.education {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.stacks {
  min-width: 191px;
  flex: 0 0 30%;
  padding: 0 5px;
}
.stacks__title,
.info__title,
.education__title {
  text-align: center;
}

.info {
  min-width: 230px;
  padding: 0 20px;
  flex: 0 0 calc(30% + 40px);
}
.info::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 2px;
  background: #717173;
}
.info::after {
  content: "";
  position: absolute;
  right: 0px;
  height: 100%;
  width: 2px;
  background: #717173;
}
.info__content {
  position: relative;
}

.education {
  padding: 0 5px;
  flex: 0 0 40%;
}
.education__content {
  padding-left: 15px;
}
/* //////////////////////////// */

.projects__title {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
}

.project {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  margin-bottom: 30px;
}
.project__gh-anchors {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gh-pages__anchor,
.gh-repository__anchor {
  color: rgb(255, 255, 255);
  line-height: 1.2;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
}
.gh-pages__anchor {
  width: 125px;
  height: 50px;
  position: relative;
  background: #43c4e5;
  margin-bottom: 15px;
}
.gh-anchors__bind {
  height: 100%;
  width: 4px;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: -1;
  top: 0;
  left: calc(50% - 2px);
}
.gh-repository__anchor {
  width: 125px;
  height: 50px;
  background: #43c4e5;
}
.project__pillare {
  min-width: 15px;
  background: #00c5ce;
}
.project__content {
}
.project__title {
  color: #00c5ce;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
}
.project__description {
}

.end {
  margin-bottom: 40px;
}
/* ...................... */

@media (max-width: 768px) {
  header {
    height: auto;
  }
  body {
    min-width: none;
  }
  .container {
    min-width: none;
  }
  .header-box {
    align-items: center;
    flex-direction: column;
  }
  .full-name {
    text-align: center;
  }
  .photo-box {
    order: 3;
  }
  .body__column1 {
    flex-direction: column;
    text-align: center;
  }
  .contacts__tel::before {
    left: -10px;
  }
  .contacts__mail::before {
    left: -10px;
  }
  .address {
    margin: 0;
  }
  .address::before {
    display: none;
  }
  .address::after {
    display: none;
  }
  .address__content:before {
    left: -10px;
  }
  .body__column2 {
    flex-direction: column;
  }
  .info::before {
    display: none;
  }
  .info::after {
    display: none;
  }
  .project {
    flex-direction: column;
    align-items: center;
  }
  .project__pillare {
    display: none;
  }
  .project__content {
    text-align: center;
    order: 1;
  }
  .project__gh-anchors {
    order: 2;
  }
}
